/* 

CSS Document 
Author: Kunaal Jain
© Copyrights Reserved.

*/
.headerimage .bodycover {
	text-align: center;
	display: block;
	margin: auto;
}

.headerimage {
	text-align:center;
}
	
